* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* #Entry!*/
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  position: relative;
  display: flex;
  z-index: 2;
  padding: 4rem 8rem;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 4rem;
  font-size: 1.5rem;
}

.title {
  position: absolute;
  color: white;
  z-index: 2;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, 75%);
}

.background {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: url(public/models/2k_stars_milky_way.jpg)
}

/* #Availibility Badge */

.availabilityBadge {
  display: flex;
  position: absolute;
  align-content: center;
  justify-content: space-around;
  height: 20px;
  /* width: 13%; */
  top: 0px;
  left: 10px;
  /* border: 2px solid #bbffff; */
  background-color: #004e52;
  z-index: 3;
}

.availabilityTextContainer {
  color: #ddffff;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0 10px;
}

.availabilityDotContainer {
  position: relative;
  display: flex;
  justify-self: end;
  align-self: center;
  height: 100%;
  aspect-ratio: 1/1;
}

.availabilityDot {
  position: relative;
  display: flex;
  justify-self: end;
  align-self: center;
  height: 50%;
  aspect-ratio: 1/1;
  /* margin-left: 5px; */

  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  opacity: .1;
  animation: blink linear infinite 5s;
}

@keyframes blink {
  0% {
    opacity: .5;
    height: 40%;
  }

  50% {
    opacity: 1;
    height: 50%;
  }

  100% {
    opacity: .5;
    height: 40%;
  }
}

/* #Media Queries */

@media only screen and (max-width: 550px) {
  nav a {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 1.5rem;
  }

  nav ul {
    position: absolute;
    flex-wrap: wrap;
    justify-content: end;
    width: 25%;
    top: 70px;
    right: 15px;
    font-size: 1.5rem;
    gap: 3rem;
}

.title {
  top: 75%;
  width: 80%;
  transform: translate(-45%, 75%);
}

}