* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.lander {
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

/* #Region Init*/
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.background {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background: url(public/models/Firefly_colorful_nebulae.jpg); */
  background-image: url(public/models/Globular_Cluster_NGC_1850_Take_One.webp);
  /* background-image: url(public/models/2k_stars_milky_way.jpg); */
  background-size: cover;
  /* backdrop-filter: brightness(30%); */
  opacity: .3;
}
/* #endregion Init */

/* #region Navigation */

nav {
  color: white;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 2;
  padding: 4rem 8rem;
  justify-content: space-between;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 4rem;
  font-size: 1.5rem;
  font-family: "myriad-pro", sans-serif, "Arial";
  font-weight: 600;
  font-style: normal;
}
/* #endRegion Navigation */

/* #region Information */
.name {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  justify-self: center; */
  position: fixed;
  bottom: 20px;
  left: 50px;
  text-decoration: none;
  color: white;
  
  font-size: 9rem;
  font-family: "myriad-pro", sans-serif, "Arial";
  font-weight: 600;
  font-style: normal;
  pointer-events: none;
  opacity: .8;
  z-index: 14;
}

.up {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  align-self: center;
  justify-self: center; */
  position: fixed;
  bottom: 20px;
  right: 50px;
  text-decoration: none;
  color: white;
  
  font-size: 9rem;
  font-family: "myriad-pro", sans-serif, "Arial";
  font-weight: 600;
  font-style: normal;
  pointer-events: none;
  opacity: .8;
  z-index: 14;
  transform: rotate(90deg);
  opacity: 0;
}



.title {
  position: fixed;
  display: flex;
  color: white;
  z-index: 2;
  right: 100px;
  top: 50px;
  text-wrap: nowrap;
  /* transform: translate(-50%, 75%); */

  font-family: "myriad-pro", sans-serif, "Arial";
  font-weight: 600;
  font-style: normal;
  pointer-events: none;
  font-size: 3rem;
}
/* #endRegion Navigation */

/* #region Availability Badge */

.availabilityBadge {
  display: flex;
  position: fixed;
  align-content: center;
  justify-content: space-around;
  height: 20px;
  /* width: 13%; */
  top: 0px;
  left: 10px;
  /* border: 2px solid #bbffff; */
  background-color: #004e52;
  z-index: 14;
}

.availabilityTextContainer {
  color: #ddffff;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0 10px;
}

.availabilityDotContainer {
  position: relative;
  display: flex;
  justify-self: end;
  align-self: center;
  height: 100%;
  aspect-ratio: 1/1;
}

.availabilityDot {
  position: relative; 
  display: flex;
  justify-self: end;
  align-self: center;
  height: 50%;
  aspect-ratio: 1/1;
  /* margin-left: 5px; */

  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  opacity: .1;
  animation: blink linear infinite 5s;
}

@keyframes blink {
  0% {
    opacity: .5;
    height: 40%;
  }

  50% {
    opacity: 1;
    height: 50%;
  }

  100% {
    opacity: .5;
    height: 40%;
  }
}

/* #endregion Availability Badge */

/* #region Media Queries */
/* ! */
@media only screen and (max-width: 550px) {
  .name {
    position: fixed;
    top: 50px;
    left: 25px;
    font-size: 3rem;
  }

  nav {
    width: 100%;
    align-content: end;
    justify-content: end;
  }

  nav ul {
    position: fixed;
    top: 90px;
    right: 0;
    flex-wrap: wrap;
    justify-content: end;
    justify-self: end;
    width: 25%;
    font-size: 1.5rem;
    gap: 3rem;
    /* display: none; */
}

  .title {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 75%;
    right: 0%;
    width: 100%;
    font-size: 2rem;
  }

.reload {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url(public/models/Refresh.svg);
  z-index: 5;
}

.reload:hover,
.reload:active {
  background-color: #00000033;
  opacity: .7;
  transition: 1s opacity ease;
}


}
/* #endregion Media Queries */

/* #region About Section */

.about {
  display: flex;
  position: absolute;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  background-color: #202020cc;
  z-index: 10;
  overflow-x: scroll;
}

.aboutMe {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  /* flex-direction: column; */
  gap: 2.5rem;
  align-content: flex-start;
  justify-content: center;
  height: 200%;
  width: 30%;
  top: -250vh;
  background-color: #00000077;
}

.aboutPhotoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%
}

.aboutPhoto {
  position: relative;
  display: flex;
  align-self: flex-start;
  /* justify-self: center; */
  width: 40%;
  aspect-ratio: 1/1;
  background-color: red;
  background-image: url(public/cat.svg);
  border-radius: 50%;
  border: 5px solid white;
}

.lineBreak {
  font-family: "bagatela", serif;
font-weight: 800;
font-style: normal;
  color: wheat;
}

.aboutTextContainer {
  position: relative;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  width: 100%;
  color: white;
  text-align: justify;
  font-family: darkmode-mono-off, sans-serif;
font-weight: 400;
font-style: normal;
}

.aboutText {
  width: 90%;
}




/* #endregion About Section */
