*{
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 200vh;
}

body {
    /* display: flex; */
    height: 200vh;
    width: 100%;
    /* background: url(../public/snow/Firefly\ snowy\ winter\ wonderland\ 36239.jpg); */
    /* background: url(../public/snow/Firefly\ snowy\ winter\ wonderland\ illustration\ 59930.jpg);
    background-size: cover; */
    /* overflow-y: hidden; */
    overflow-x: hidden;
    /* mask-image: url(../public/2x/card-mask@2x.webp);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover; */
}

.window {
    display: grid;
    grid-template-columns: 1fr 0px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'top' 'center' 'bottom';
    width: 100vw;
    height: 100vh;
    background: url(../public/snow/Firefly\ snowy\ winter\ wonderland\ illustration\ 59930.jpg);
    background-size: cover;
    overflow: hidden;
}

.message{
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 10rem;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "above-the-sky-script", sans-serif;
font-weight: 400;
font-style: normal;
}

.snowCircle1,
.snowCircle2,
.snowCircle3 {
    position: relative;
    width: 500vmax;
    height: 500vmax;
    top: -200vmax;
    bottom: 0vmax;
    right: 250vmax;
    background-image: url(../public/snow/2x/snowflakes@2x.webp);
    background-size: 100px;
    background-repeat: repeat;
    border-radius: 100%;
    animation: rotateR 1000s linear infinite;
    grid-area: center;
}

.snowCircle2{
    left: -75vmax;
    opacity: .5;
    animation: rotateL 1500s linear infinite;
    background-color: purple;
}

.snowCircle3{
    opacity: .1;
    animation: rotateR 700s linear infinite;
    background-color: blue;
}

.content {
    height: 100vh;
    width: 100%;
    background-color: red;
}

@keyframes rotateR {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateL {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* @media screen and (max-width: 650px) {
    body {
        mask-image: url(../public/2x/card-mask-mobile@2x.webp);
        background-color: rebeccapurple;
    }
} */